#overlay {
	direction: ltr;
	right: 40px;
    text-align: right;
}

#titles {
	display: flex;
}

#njs {
	direction: rtl;
}

#score {
	transform: translate(2px, 0);
}

.energy-container {
	margin: 4px 0 4px auto;
}
